<div class="profil-right-bar">

    <div class="profil-right-bar-top">
      <div> <img src="../../assets/img/rightbar/icon1.PNG" class="right-icon"> </div>
      <div><img src="../../assets/img/rightbar/icon2.PNG" class="right-icon"></div>
      <div><img src="../../assets/img/rightbar/icon3.PNG" class="right-icon"></div>
      <div><img src="../../assets/img/rightbar/icon4.PNG" class="right-icon"></div>
      <div><img src="../../assets/img/rightbar/icon5.PNG" class="right-icon"></div>
      <div><img src="../../assets/img/rightbar/icon6.PNG" class="right-icon"></div>
      <div><img src="../../assets/img/rightbar/icon7.PNG" class="right-icon"></div>
      <div><img src="../../assets/img/rightbar/icon8.PNG" class="right-icon"></div>
      <div><img src="../../assets/img/rightbar/icon9.PNG" class="right-icon"></div>
    </div>
    <div class="profil-right-bar-bottom">
    <img src="../../assets/img/leftbar/icon1.PNG">
    <img src="../../assets/img/rightbar/icon10.PNG">
    </div>
    </div>