<div class="left-side">


  <div class="first-text" id="1">
    <p>Welcome to the Biggest Social <br>Network in the World</p>
  </div>



  <div class="second-text" id="2">
    <p>We are the best and biggest social network whit 5 bilion activate users all around the world. Share
      <br> you thoughts, write blog posts, show your favourite music via Stopify, earn badges and much more!
    </p>
  </div>


  <div class="register-button">
    <div>
      <button  type="submit" class="button button-block reg" > <a routerLink="/register" >Register now!</a></button>
    </div>
  </div>

  
</div>