.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}
.row {
  max-width: 1000px;
  margin: 0 auto;
}
section {
  margin: auto;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.left-side {
  display: flex;
  flex-direction: column;
}
.first-text {
  font-size: 30px;
  color: white;
}
.second-text {
  font-size: 12px;
  color: white;
  max-width: 564px;
}
.register-button {
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.reg {
  background: none;
  color: white;
  border: 1px solid white;
}
a{
  color: white;
  text-decoration: none;
}
.button {
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: 0 auto;
  color: white;

  margin-bottom: 20px;
  margin-left: 22px;
  font-size: 12px;
}
.button-block {
  display: block;
  padding: 10px;
}

@media only screen and (max-width: 1000px) {
  .second-text {
    text-align: left;
    max-width: 320px;
  }
  .first-text {
    font-size: 25px;
  }
}
@media screen and (max-width: 700px) {
  .first-text {
    font-size: 22px;
    margin: 0 auto;
  }
  .second-text {
    text-align: center;
  }
  .button {
    padding: 20px 40px 0 10px;
  }
}
