
<div class="profil-left-bar">
    <div> <img src="../../assets/img/leftbar/icon1.PNG" class="left-icon"></div>
    <div><img src="../../assets/img/leftbar/icon2.PNG" class="left-icon"></div>
    <div><img src="../../assets/img/leftbar/icon3.PNG" class="left-icon"></div>
    <div><img src="../../assets/img/leftbar/icon4.PNG" class="left-icon"></div>
    <div><img src="../../assets/img/leftbar/icon5.PNG" class="left-icon"></div>
    <div><img src="../../assets/img/leftbar/icon6.PNG" class="left-icon"></div>
    <div><img src="../../assets/img/leftbar/icon7.PNG" class="left-icon"></div>
    <div><img src="../../assets/img/leftbar/icon8.PNG" class="left-icon"></div>
    <div><img src="../../assets/img/leftbar/icon9.PNG" class="left-icon"></div>
    <div><img src="../../assets/img/leftbar/icon10.PNG" class="left-icon"></div>
    <div><img src="../../assets/img/leftbar/icon11.PNG" class="left-icon"></div>
  </div>