
<div class="grid-poll">
    <div class="photo">
      <div class="photo-header">
        <p>Last Photos</p>
      </div>
      <div class="photo-grid">
        <div class="pic1"><img src="../../assets/img/photo/pic1.PNG"></div>
        <div class="pic2"><img src="../../assets/img/photo/pic2.PNG"> </div>
        <div class="pic3"><img src="../../assets/img/photo/pic3.PNG"> </div>
        <div class="pic4"><img src="../../assets/img/photo/pic4.PNG"></div>
        <div class="pic5"><img src="../../assets/img/photo/pic5.PNG"></div>
        <div class="pic6"><img src="../../assets/img/photo/pic6.PNG"></div>
        <div class="pic7"><img src="../../assets/img/photo/pic7.PNG"></div>
        <div class="pic8"><img src="../../assets/img/photo/pic8.PNG"></div>
        <div class="pic9"><img src="../../assets/img/photo/pic9.PNG"></div>
      </div>
    </div>
  
    <div class="poll">
      <div class="poll-header">
        <p>James's poll</p>
      </div>
      <div class="pollque">If you had to choose, which actor do you prefer to be the next Darkman?</div>
      <div class=vote1>
        <input type="checkbox" name="checkbox" value="check" id="vote1" /> Thomas Bale</div>
      <div class="pollBars">
        <span class="t1" style="width: 62%">62% </span>
        <p class="tenpx">12 friends voted for this</p>
        <div class="votenum">
          <div><img src="../../assets/img/rightbar/icon1.PNG" class="vote-img"></div>
          <div><img src="../../assets/img/rightbar/icon4.PNG" class="vote-img"></div>
          <div><img src="../../assets/img/rightbar/icon5.PNG" class="vote-img"></div>
          <div><img src="../../assets/img/rightbar/icon6.PNG" class="vote-img"></div>
          <div><img src="../../assets/img/rightbar/icon3.PNG" class="vote-img"></div>
          <div><img src="../../assets/img/rightbar/icon4.PNG" class="vote-img"></div>
          <div><img src="../../assets/img/rightbar/icon5.PNG" class="vote-img"></div>
          <div><img src="../../assets/img/rightbar/icon6.PNG" class="vote-img"></div>
        </div>
      </div>
      <div class="vote2"> <input type="checkbox" name="checkbox" value="check" id="vote2" /> Ben Robertson
      </div>
      <div class="pollBars">
        <span class="t2" style="width: 37%">27%</span>
        <p class="tenpx">7 friends voted for this</p>
        <div class="votenum">
  
          <div><img src="../../assets/img/rightbar/icon3.PNG" class="vote-img"></div>
          <div><img src="../../assets/img/rightbar/icon4.PNG" class="vote-img"></div>
          <div><img src="../../assets/img/rightbar/icon5.PNG" class="vote-img"></div>
          <div><img src="../../assets/img/rightbar/icon6.PNG" class="vote-img"></div>
        </div>
      </div>
  
      <div class="vote3"><input type="checkbox" name="checkbox" value="check" id="vote3" /> Michael Streiton
      </div>
      <div class="pollBars">
        <span class="t2" style="width: 21%">11%</span>
        <p class="tenpx">2 people voted for this</p>
  
        <div class="votenum">
          <div><img src="../../assets/img/rightbar/icon8.PNG" class="vote-img"></div>
          <div><img src="../../assets/img/rightbar/icon3.PNG" class="vote-img"></div>
        </div>
      </div>
      <div class="vote-btn">
        <p>Vote</p>
      </div>
    </div>