<div class="badplay">
    <div class="badges">
      <div class="badges-text">
        <p>James Badges</p>
      </div>
      <div class="badges-1row"> <img src="../../assets/img/bug/bag1.PNG">
        <img src="../../assets/img/bug/bag2.PNG">
        <img src="../../assets/img/bug/bag3.PNG">
        <img src="../../assets/img/bug/bag4.PNG">
        <img src="../../assets/img/bug/bag5.PNG">
      </div>
      <div class="badges-2row"><img src="../../assets/img/bug/bag6.PNG">
        <img src="../../assets/img/bug/bag7.PNG">
        <img src="../../assets/img/bug/bag8.PNG">
        <img src="../../assets/img/bug/bag9.PNG">
        <img src="../../assets/img/bug/bag10.PNG">
      </div>
    </div>
    <div class="playlist">
      <div class="play-text">
        <p>My Spotify Playlist</p>
      </div>
      <div class="play-bar">
        <img src="../../assets/img/play/plаy1.PNG">
      </div>
      <div class="play-bar"><img src="../../assets/img/play/plаy2.PNG"></div>
      <div class="play-bar"><img src="../../assets/img/play/plаy3.PNG"></div>
      <div class="play-bar"><img src="../../assets/img/play/plаy4.PNG"></div>
      <div class="play-bar"><img src="../../assets/img/play/plаy5.PNG"></div>
    </div>
  </div>
  