<div class="profil-info">
    <div>
      <p>Timeline</p>
    </div>
    <div>
      <p>About</p>
    </div>
    <div>
      <p>Friends</p>
    </div>
  
    <div class="center-profil">
      <div>
        <img src="../../assets/img/profil-img.PNG" class="center-img">
      </div>
      <div class="center-name">
        <p>James Siegel</p>
      </div>
      <div>
        <div>
          <p>San Fancisco, CA</p>
        </div>
      </div>
    </div>
    <div>
      <p>Photos</p>
    </div>
    <div>
      <p>Videos</p>
    </div>
    <div> . . . </div>
  </div>
  
  
  
  
  
  <div class="profil-info-media">
    <div class="side1">
      <div class="margin1">
        <p>Timeline</p>
      </div>
      <div class="margin1">
        <p>About</p>
      </div>
      <div class="margin2">
        <p>Friends</p>
      </div>
    </div>
    <div class="side2">
      <div class="margin1">
        <p>Photos</p>
      </div>
      <div class="margin1">
        <p>Videos</p>
      </div>
    <div class="margin2">
    <div> . . . </div>
  </div>
  </div>
  <div class="center-profil">
    <div>
      <img src="../../assets/img/profil-img.PNG" class="center-img">
    </div>
    <div class="center-name">
      <p>James Siegel</p>
    </div>
    <div>
      <div>
        <p>San Fancisco, CA</p>
      </div>
    </div>
  </div>
  </div>