<div class="profil-wallpaper">
  </div>
  
  <div class="three-icon">
    <img src="../../assets/img/triikone/ikona1.PNG" class="three-icon-img">
    <img src="../../assets/img/triikone/ikona2.PNG" class="three-icon-img">
    <img src="../../assets/img/triikone/ikona3.PNG" class="three-icon-img">
  </div>
  
  <div class="profil-info">
    <app-profil-info></app-profil-info>
  </div>
  
  <div class="center-content">
  
    <div>
      <app-profil-center-badplay></app-profil-center-badplay>
    </div>
  
    <div>
      <app-profil-center-status></app-profil-center-status>
    </div>
  
    <div>
      <app-profil-center-poll></app-profil-center-poll>
    </div>
  
  </div>