<div class="status">
    <div class="status1">
      <div class="status-head-img">
        <div class="status-head">
          <img src="../../assets/img/profil-img.PNG" class="mini-profil-img">
        </div>
        <div class="status-name">
          <p><strong>James Spiegel</strong> </p>
          <p style="font-size: 10px;">19 hours ago</p>
        </div>
      </div>
      <div class="status-text">
        <p>
          Dios aite orire dolor om reprehenderit in voluptate velis esse collim dolore eu fugiat nulia paratur. Exceptur
          sint oceaecat cupidatat non prodent, sunt in culpa wui officia deserunt mollit anim id est laborum, sed ut
          perspiciatis unde onis iste natus error sit vulptatem accusantum doloremque.</p>
  
      </div>
      <div class="like">
        <div class="like-left">
          <div> <img src="../../assets/img/status/statusicon2.PNG"> 8 </div>
          <div><img src="../../assets/img/rightbar/icon4.PNG" class="like-img">
            <img src="../../assets/img/rightbar/icon5.PNG" class="like-img">
            <img src="../../assets/img/rightbar/icon6.PNG" class="like-img">
            <img src="../../assets/img/rightbar/icon7.PNG" class="like-img"></div>
          <div class="like-name">Jenny, Robert and 6 more liked this</div>
        </div>
        <div class="like-right">
          <div class="picinub"><img src="../../assets/img/status/statusicon3.PNG
              "> 17 </div>
          <div class="picinub"><img src="../../assets/img/status/statusicon4.PNG"> 24</div>
        </div>
  
      </div>
      <div class="like-top">
        <img src="../../assets/img/status/statusicon1.PNG">
      </div>
    </div>
    <div class="status2">
      <div class="status-head-img">
        <div class="status-head">
          <img src="../../assets/img/profil-img.PNG" class="mini-profil-img">
        </div>
        <div class="status-name">
          <p><strong>James Spiegel</strong> shared <span style="color: red;">Diana Jameson's photo</span>
            <p style="font-size: 10px;">7 hours ago</p>
        </div>
      </div>
      <div class="status-text">
        <p>Hi! Everyone should check out these amazing photograpsh this my friend shot the past week. here's one of
          them... leave a kind komment!</p>
        <div class="diana-photo"><img src="../../assets/img/status/diana.PNG"></div>
        <div class="diana">
          <div class="status-head-img">
            <div class="status-head">
              <img src="../../assets/img/rightbar/icon8.PNG" class="mini-profil-img">
            </div>
            <div class="status-name">
              <p><strong>Diana Jameson</strong> </p>
              <p style="font-size: 10px;">16 hours ago</p>
            </div>
          </div>
          <div>
            <p>Here's the first photo of our incredible photoshot grom yesterday. If you like it please say so and tel
              me what wanna see next!</p>
          </div>
        </div>
      </div>
      <div class="like">
        <div class="like-left">
          <div class="picinub"> <img src="../../assets/img/status/statusicon2.PNG"> 15 </div>
          <div><img src="../../assets/img/rightbar/icon9.PNG" class="like-img">
            <img src="../../assets/img/rightbar/icon5.PNG" class="like-img">
            <img src="../../assets/img/rightbar/icon6.PNG" class="like-img">
            <img src="../../assets/img/rightbar/icon2.PNG" class="like-img"></div>
          <div class="like-name">Diana, Nicolas and 13 more liked this</div>
        </div>
        <div class="like-right">
          <div class="picinub"><img src="../../assets/img/status/statusicon3.PNG
                    "> 0</div>
          <div class="picinub"><img src="../../assets/img/status/statusicon4.PNG"> 16</div>
        </div>
      </div>
      <div class="like-top">
        <img src="../../assets/img/status/statusicon1.PNG">
      </div>
    </div>
    <div class="more-status"><img src="../../assets/img/status/statusicon5.PNG"></div>
  
  </div>