<div class="profil-header">
    <div class="header-left">
      <div class="logo"><a href="/login"> <img src="../../assets/img/logo.png" class="logo-img"></a></div>
      <div class="page">
        <p>PROFILE PAGE</p>
      </div>
      <div class="search">
        <input type="text" required autocomplete="off" class="profil-search" /><img src="../../assets/img/search.svg" class="lupa">
      </div>
      <div class="find">
        <p>Find Friend</p>
      </div>
    </div>
    <div class="header-right">
      <div class="profil-icon">
        <div> <img src="../../assets/img/profilicon/picon1.PNG"></div>
        <div> <img src="../../assets/img/profilicon/picon2.PNG"></div>
        <div> <img src="../../assets/img/profilicon/picon3.PNG"></div>
  
      </div>
      <div class="profil-user">
        <div class="profil-head">
          <img src="../../assets/img/profil-img.PNG" class="head"> </div>
        <div class="profil-name-surname">
          <div class="profil-name">
            <p>James Spiegel</p>
          </div>
          <div class="profil-surname">
            <p>SPACE COWBOY</p>
          </div>
        </div>
        <div class="chat"><img src="../../assets/img/rightbar/icon10.PNG"></div>
      </div>
    </div>
  </div>